
body{
    font-family: 'Open Sans', sans-serif;
}
.primary-text{
    color: #FD6E0A;
}
.btn-primary{
    border-radius: 5px;
    background-color: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}
/* Nav Related Styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.web-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
nav>ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
/* Header Related style */
.header{
    background-color: #FFF8F3;
    background-image: url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}
.bannar{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bannar-content{
    max-width: 500px;
}
.profile-photo{
    width: 500px;
}
.bannar-greeting{
    font-size: 45px;
    color: #454545;
    margin-bottom: 0;
}
.bannar-title{
    font-size: 85px;
    color: #454545;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}
.bannar-descripiton{
    min-width: 500px;
}
.bannar-descripiton{
    color: #757575;
    text-align: center;
    font-size: 18px;
}

/* Main Section Styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
}

/* about section style */
.about{
    padding: 130px;
    border-radius: 10px;
    background-color: #FFF8F3;
    margin: 130px 0;
}
.section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
.info-title{
    font-weight: 400;
    color: #757575;
}
.info-description{
    font-weight: 700;
}

/* skills what i do */
#section-description{
    padding: 30px 150px;
}
.skill{
    padding: 30px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skills-container{
    display: flex;
    gap: 24px;
}
.skill-description{
    color: #757575;
}

/* resume section styles */
.resume-column-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}
.resume-container{
    display: flex;
    gap: 50px;
}
.resume-container hr{
    margin: 30px 0;
}
.resume-item-description{
    color: #757575;
}
.resume-item-institute{
    color: #757575;
    margin-bottom: 20px;
    margin-top: 0px;
}
.resume-item-title{
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}
.download-cv{
    text-align: center;
    margin-top: 50px;
}
